/* Arial Nova Fonts */

@font-face {
    font-family: 'Arial Nova';
    src: url('/assets/fonts/ArialNova.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial Nova';
    src: url('/assets/fonts/ArialNova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Arial Nova';
    src: url('/assets/fonts/ArialNova-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Arial Nova';
    src: url('/assets/fonts/ArialNova-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Arial Nova';
    src: url('/assets/fonts/ArialNova-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Arial Nova';
    src: url('/assets/fonts/ArialNova-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

/* Arial Nova Condensed */

@font-face {
    font-family: 'Arial Nova Condensed';
    src: url('/assets/fonts/ArialNovaCond.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial Nova Condensed';
    src: url('/assets/fonts/ArialNovaCond-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Arial Nova Condensed';
    src: url('/assets/fonts/ArialNovaCond-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Arial Nova Condensed';
    src: url('/assets/fonts/ArialNovaCond-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Arial Nova Condensed';
    src: url('/assets/fonts/ArialNovaCond-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Arial Nova Condensed';
    src: url('/assets/fonts/ArialNovaCond-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}